:root {
  --app-sidebar-width: 240px;
  --app-sidebar-width-collapsed: 3.25rem;
  --app-sidebar-item-height: 2.5rem;
  --app-sidebar-item-height-xs: 2rem;
  --app-sidebar-item-height-sm: 2.25rem;
  --app-sidebar-dropdown-max-height: 48vh;
  --app-sidebar-transition: 0.3s ease;
  --app-sidebar-transition-duration: 0.3s;

  --app-header-height: 52px;
  --max-width-content: 75.375rem;


  @media (max-width: 500px) {
    --app-sidebar-width: 100%;
  }
}
