# Зависимости
node_modules

# Сборка
dist
.output
.nuxt
.nitro
.data
.cache
coverage

# Окружение
.env
.env.local
**/.env
**/.env.local

# Логи
*.log
npm-debug.log*
pnpm-debug.log*

# Редакторы
.idea
.vscode
*.swp
*.swo
template-nest-nuxt.code-workspace

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

#claude
CLAUDE.md
.claude
/docs/superpowers
.superpowers
